@page "/"
@using BlazorServerApp.Components.Shared
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    @Header
</p>
<p>
    <button @onclick="AddPatient">
        Add ToDo
    </button>
</p>
<p>
    <button @onclick="GetPatients">
        Get Todo
    </button>
</p>
<Table Patients=@patients @ref="child"/>
