@page "/"
@using BlazorServerApp.Components.Shared
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Patients</h1>

<p>
    @Header
</p>
<p>
    <button @onclick="AddPatient">
        Add Patient
    </button>
</p>
<p>
    <button @onclick="GetPatients">
        Get Patients
    </button>
</p>
<Table Patients=@patients @ref="child"/>
