@using BlazorBootstrap
@using PatientApi.Models;

<Grid @ref="grid"
      TItem="PatientDTO"
      Class="table table-hover table-bordered table-striped"
      DataProvider="PatientDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="5"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="PatientDTO" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="PatientDTO" HeaderText="Patient Name" PropertyName="Name" SortKeySelector="item => item.PatientName">
            @context.PatientName
        </GridColumn>
    </GridColumns>

</Grid>

<div class="mt-3">
    Selected Items Count: @selectedPatient.Count
</div>

<div class="mt-2">
    Selected Patients:
    <ul>
        @foreach (var emp in selectedPatient)
        {
            <li>@emp.PatientName</li>
        }
    </ul>
</div>
